absl-py==0.8.0
appdirs==1.4.3
appnope==0.1.0
args==0.1.0
arrow==0.13.1
asn1crypto==0.22.0
astor==0.6.2
atari-py==0.1.1
attrs==19.1.0
awkward==0.4.3
backports.weakref==1.0rc1
beautifulsoup4==4.5.1
bleach==3.3.0
branca==0.2.0
bs4==0.0.1
cachetools==3.0.0
certifi==2019.6.16
cffi==1.10.0
chardet==3.0.4
ckmutil==0.3.2
click==6.7
clint==0.5.1
cryptography==1.9
cssselect==1.0.3
cycler==0.10.0
Cython==0.28.3
decorator==4.0.11
dill==0.3.0
Django==1.11.4
entrypoints==0.2.3
feedfinder2==0.0.4
feedparser==5.2.1
flavio==1.0.1
floyd-cli==0.10.39
folium==0.3.0
future==0.16.0
gast==0.2.0
google-images-download==2.3.0
google-pasta==0.1.7
googleapis-common-protos==1.6.0
grpcio==1.12.0
gym==0.9.6
h5py==2.7.0
html5lib==0.9999999
hyperas==0.4
hyperopt==0.1
idna==2.5
image==1.5.11
imageio==2.1.2
iminuit==1.2
inflection==0.3.1
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
jieba3k==0.35.1
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
llvmlite==0.25.0
lxml==3.8.0
lz4==2.1.2
Markdown==2.6.8
markovify==0.6.0
MarkupSafe==1.0
marshmallow==2.15.2
matplotlib==2.0.2
mistune==0.7.4
more-itertools==4.0.1
moviepy==0.2.2.12
natsort==6.0.0
nbconvert==5.2.1
nbformat==4.3.0
ndg-httpsclient==0.4.3
networkx==1.11
newspaper3k==0.2.8
nltk==3.2.1
nose==1.3.7
notebook==5.0.0
numba==0.40.1
numpy==1.17.1
oauthlib==2.0.1
observations==0.1.4
olefile==0.44
opencv-python==3.4.0.12
packaging==16.8
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.3.2
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
pkgconfig==1.4.0
plotly==2.2.3
poloniex==0.4.7
promise==2.2.1
prompt-toolkit==1.0.14
protobuf==3.9.1
psutil==5.6.3
ptyprocess==0.5.2
pyasn1==0.4.2
pycocotools==2.0.0
pycparser==2.18
pyglet==1.3.0
Pygments==2.2.0
pylha==0.3
pymongo==3.4.0
PyOpenGL==3.1.0
pyOpenSSL==17.1.0
pyparsing==2.2.0
pytest-runner==4.2
python-dateutil==2.6.1
python-twitter==3.2.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
Quandl==3.3.0
raven==6.8.0
rawkit==0.6.0
rawpy==0.12.0
requests==2.22.0
requests-file==1.4.3
requests-oauthlib==0.7.0
requests-toolbelt==0.8.0
rundec==0.5.1
schedule==0.6.0
scikit-image==0.13.1
scikit-learn==0.18.1
scipy==1.1.0
seaborn==0.8.1
selenium==3.12.0
setuptools-scm==3.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
statsmodels==0.6.1
stravalib==0.10.2
style==1.1.0
sudoku-maker==1.0.12
tabulate==0.8.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-datasets==1.2.0
tensorflow-estimator==1.14.0
tensorflow-metadata==0.14.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textblob==0.12.0
Theano==0.8.2
tinysegmenter==0.3
tldextract==2.2.1
torch==0.2.0.post3
torchvision==0.1.9
tornado==4.5.1
tqdm==4.11.2
traitlets==4.3.2
tweepy==3.5.0
tweetpy==0.1
twitter==1.18.0
Unidecode==0.4.20
units==0.7
update==0.0.1
uproot==3.2.10
uproot-methods==0.2.6
urllib3==1.21.1
virtualenv==16.0.0
voluptuous==0.11.5
wcwidth==0.1.7
wcxf==1.4.6
Werkzeug==0.12.2
widgetsnbextension==2.0.0
wilson==1.4
wordcloud==1.3.1
wrapt==1.11.2
